<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Notícia</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>News</td>
			</tr>

			<tr>
				<td> <%= noticia.id %> </td>
				<td> <%= noticia.title %> </td>
				<td> <%= noticia.news %> </td>
			</tr>
			
		</table>

	</body>
</html>